<mat-toolbar>
  <a mat-button [routerLink]="'/home'">Overview</a>
  <a mat-button [routerLink]="'/formations'">Formation</a>
  <a mat-button [routerLink]="'/blogs'">Blog</a>
  <a mat-button [routerLink]="'/forums'">Forum</a>
  <div class="search-and-lang--wrapper">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="search-icon">search</mat-icon>
    <span class="search-and-lang--separator"> | </span>
    <span class="lang">
      <a>en</a>
      <span> . </span>
      <a>fr</a>
    </span>
  </div>
</mat-toolbar>
