<mat-toolbar>
  <a mat-button [routerLink]="''">Overview</a>
  <a mat-button [routerLink]="'/formation'">Formation</a>
  <a mat-button [routerLink]="'/blogpost'">Blogpost</a>
  <a mat-button [routerLink]="'/forum'">Forum</a>
  <div class="search-and-lang">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="search-icon">search</mat-icon>
    <span class="separator"> | </span>
    <span class="lang">
      <a>en</a>
      <span> . </span>
      <a>fr</a>
    </span>
  </div>
</mat-toolbar>
