<mat-sidenav-container class="forums-sidenav__container">
  <mat-sidenav-content class="forums">
    <ng-container *ngFor="let forum of forums; let i = index">
      <app-forum-summary *ngIf="i==0 && verifyFilterCondition(forum.technologies) ; else other" [title]="forum.title"
                         [technologies]="forum.technologies"
                         [likes]="forum.likes" [feedbacksNumber]="forum.feedbacksNumber"
                         [date]="forum.date" [selected]="true" [routerLink]="['/forum',i]"></app-forum-summary>
      <ng-template #other>
        <app-forum-summary *ngIf="verifyFilterCondition(forum.technologies)" [title]="forum.title"
                           [technologies]="forum.technologies"
                           [likes]="forum.likes" [feedbacksNumber]="forum.feedbacksNumber"
                           [date]="forum.date" [selected]="false" [routerLink]="['/forum',i]"></app-forum-summary>
      </ng-template>
    </ng-container>
  </mat-sidenav-content>

  <mat-sidenav mode="side" position="end" opened class="forum-add-subject">
    <button mat-flat-button [routerLink]="'/new/forum'">
      <mat-icon>add</mat-icon>
      <span [style]="'color:white'">  Add a New Subject</span>
      <!--TODO IMPROVE STYLE IMPLEMENTATION!-->
    </button>

    <mat-selection-list #subjectsRef [multiple]="false">
      <mat-list-option *ngFor="let subject of subjects" [value]="subject"
                       (click)="setTechnologyFilter(subject)">
        <mat-icon *ngIf="subjectsRef.selectedOptions.selected[0]?.value!= subject;else other">radio_button_unchecked
        </mat-icon>
        <ng-template #other>
          <mat-icon>radio_button_checked</mat-icon>
        </ng-template>
        {{subject}}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
</mat-sidenav-container>
