.formation {
 max-width: 23vw;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.header {
  font-weight: 400;
  margin-bottom: 1em;
}

.content {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 1em;
}

.actions {
  font-size: 1.2em;
}
