<mat-card class="formation">
  <mat-card-header class="header">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title [innerHTML]="titleText" class="title"></mat-card-title>
  </mat-card-header>
  <mat-card-content [innerHTML]="content" class="content"></mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="actions">
    <mat-icon aria-hidden="false" aria-label="Example schedule icon" class="schedule-icon">schedule</mat-icon>
    <span [innerHTML]="duration"></span>
  </mat-card-actions>
</mat-card>
