.blog-summary {
  display: flex;
  margin: 1rem 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  display: block;
  width: 30%;
  height: auto;
}

.title-and-description__container{
  width: 70%;
  height: 100% ;
}
