.user-profile-icon {
  background-image: url("./../../../assets/profile-icon.png");
  background-size: cover;
}


.right-side {
  display: flex;
  flex-direction: column;
}
.date{
  margin: 0;
}

.mat-card {
  display: flex;
  justify-content: space-between;
}

.mat-card-title {
  line-height: normal;
}

.mat-card-actions {
  display: flex;

  div {
    margin: 0 1rem;
  }

  span {
    margin: 0 0.5rem;
  }

}


