<mat-card class="title-and-description__container"
          [ngStyle]=" selected && {'background-color': '#0000000a','box-shadow':'none'} || null">
  <mat-card-header>
    <div mat-card-avatar class="user-profile-icon"></div>
    <mat-card-title [innerHTML]="title"></mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list class="technologies">
        <mat-chip *ngFor="let technology of technologies">{{technology}}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>

  <div class="right-side">
    <mat-card-actions>
      <div class="likes">
        <mat-icon>thumb_up</mat-icon>
        <span> {{likes}}</span>
      </div>
      <div class="comments">
        <mat-icon>mode_comment</mat-icon>
        <span> {{feedbacksNumber}}</span>
      </div>
    </mat-card-actions>
    <mat-card-footer class="date mat-caption">
      {{date.toDateString()}}
    </mat-card-footer>
  </div>

</mat-card>
