.formations {
  display: flex;
}
.formations-list {
  display: flex;
  flex-wrap: wrap;
}

.formations-list app-formation-card {
  margin: 1em;
}

.formations-description {
  width: 30%;
  padding: 4em 1em;
}

.formations-description p:first-child {
  font-size: 3em;
  padding-bottom: 1em;
}

.formations-description p:nth-of-type(2) {
  font-size: 1.5em;
  color: #424245;
  font-weight: lighter;
}
