.home-page {
  display: flex;
}

.background-image {
  flex: 2;
  margin: 2em 2em 0 0;
}

.description {
  flex: 2;
  align-self: center;
  box-shadow: none;

  .title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1.5em;
  }

  .content {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 2em;
  }

  .actions button {
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin-right: 2em;

    &:nth-of-type(2) {
      background-color: white;
      padding: 0.4em 1em;
      border: 0.1rem solid blue !important;
    }
  }
}

